.desocupado{
  text-align: center;
  display: block;
  float: left;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: blue;
  color:white;
} 

.ocupado{
  text-align: center;
  display: block;
  float:left;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color:chocolate;
  color:aqua;
 
}
.manutençao{
  text-align: center;
  display:block;
  float:left;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color:gold;
  color:black;
}